<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Active Contract Reports</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Active Contract Report Download</h1>
        {% for data in datas %}
        {{data|safe}}
        {% endfor %}
        <a href="{{ file }}" target="_blank" class="form-submit">Download</a>
        </form>

    </div>

    <script>
    
    </script>
</body>

</html>