
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Active Contract Reports</title>
</head>
<body>
    <div class="container">
        <form class="dates-form">
            <label class="form-lbl"for="start">Contract start date:</label>
            <input class="form-dt" type="date" id="start" name="contract-start" value="">
        
            <label class="form-lbl"for="start">Contract end date:</label>
            <input class="form-dt" type="date" id="end" name="contract-start">

            <input class="form-submit" type="submit" value="Submit">
            
        </form>
        
    </div>

</body>
</html>